.content .conent ul {
  padding-left: var(--space-medium);
}
.content li {
  list-style: square;
}
/* Iphone */
@media (min-width: 400px) {
  .content .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: var(--space-small);
  }
}
/* Ipad */
@media (min-width: 550px) {
  .content .grid {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-column-gap: var(--space-medium);
  }
}

/* computer */
@media (min-width: 550px) {
  .content .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: var(--space-big);
  }
}
.middle-container {
  color: var(--main-color);
  font-size: x-large;
  padding: 10% 30% 10% 10%;
  top: 30%;
  background-color: rgba(211, 211, 211, 0.5);
  border-radius: 25px;
}

.points {
  text-align: center;
  font-family: sans-serif;
  color: #158467;
  background-color: rgba(211, 211, 211, 0.5);
  border-radius: 25px;
}

.container {
  text-align: center;
}
.btn {
  border: 1px solid #158467;
  background: none;
  font-size: 17px;
  font-family: "Gothic A1";
  cursor: pointer;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
}
.btn1,
.btn2 {
  color: #158467;
}

.btn1:hover,
.btn2:hover {
  color: #fff;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #158467;
  z-index: -1;
  transition: 0.8s;
}
.btn1::before,
.btn3::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}
.btn2::before,
.btn4::before {
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

.btn1:hover::before,
.btn2:hover::before {
  height: 180%;
}
